.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__title {
  margin: 0;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__label {
  margin-top: 24px;
  margin-bottom: 3px;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: transparent;
}

.modal__close-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  max-height: 436px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  display: block;
  margin-top: 3px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  color: #00000080;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.modal__legend {
  margin-bottom: 4px;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
}

.modal__radio-input {
  margin-right: 8px;
  gap: 8px;
  cursor: pointer;
  border: 1px solid #000000;
  accent-color: #000000;
}

.modal__label-type-radio {
  margin-top: 8px;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
}

.modal__submit {
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  width: 124px;
  height: 36px;
  background-color: #000000;
  border-style: none;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 36px;
  margin-top: 32px;
  cursor: pointer;
}

.modal__submit:hover {
  opacity: 0.6;
}

.modal__submit:disabled {
  opacity: 0.3;
}
