.header {
  display: flex;
  align-items: center;
  padding: 0 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  font-weight: bold;
  margin: 0;
}

.header__menu {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

.header__toggle-switch {
}

.header__add-clothes-btn {
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  font-weight: bold;
  margin: 0 20px 0 20px;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-name {
  margin: 0;
  padding: 0;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  font-weight: bold;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}
