.modal__content.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  overflow: hidden;
  padding: 0;
}

.modal_opened {
  visibility: visible;
}

.modal__image {
  width: 100%;
  max-width: 498px;
  top: 106px;
  left: 471px;
  margin: 0;
}

.modal__close {
  width: 16px;
  height: 16px;
  border: none;
  background: transparent;
}

.modal__close-icon {
  width: 100%;
  height: 100%;
}

.modal__footer {
  margin: 20px 33.56px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.modal__footer__text_items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__caption {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.modal__weather {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 32px 0;
}

.modal__delete_btn {
  color: #ff4d00;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
