.sidebar {
  max-width: 385px;
}
.sidebar__profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.sidebar__user-name {
  margin: 0;
  padding: 0;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  font-weight: bold;
  font-size: 20px;
}
